body{
	margin-top: 5%;
}

#messageArea{
	display: none;
}

span[class*="glyphicon-one-fine"] {
    margin-bottom: -.4em;
    overflow: hidden;
}

.glyphicon-one-fine-green-dot:before {
    content:"\25cf";
    font-size: 3em;
    color: green;
}
